h3 {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 1rem;
    font-family: sans-serif;
}

h1 {
    font-size: 1.5rem;
    font-family: sans-serif;
}

nav {
    margin-bottom: 30px;
}

#main {
    text-align: center;
    color: grey;
}

#content {
    margin: auto;
}

#prompt {
    text-align: justify;
}

.not-found {
    margin-top: 15px;
}

#submitForm, #discoverLink {
    width: 100%;
}

#discoverLink {
    margin-bottom: 30px;
}

#submitForm > i, #discoverLink > i {
    display: inline-block;
    float: left;
    padding-top: 4px;
}

#discoverText {
    margin-top: 30px;
    margin-bottom: 0;
}

#header {
    background-color: #4286f4;
    color: white;
}

#quotationMarks {
    float: left;
}

#quoteName {
    text-align: right;
    color: #4286f4;
}

#codeDetails {
    text-align: left;
}

#verificationCode {
    font-size: 2rem;
    color: #4286f4;
}

.codeName {
    font-size: 0.9rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

#verifyCertificate {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 0.8rem;
    color: #c6c6c6;
}

#skillsTableHeader {
    margin-top: 40px;
}

.itemRow {
    margin-bottom: 25px;
}

.itemRow .row {
    margin-bottom: 5px;
}

.itemRow .name {
    font-weight: bold;
    cursor: pointer;
}

.itemRow .description {
    font-style: italic;
    font-size: 85%;
}

.percentage {
    color: #4286f4;
}

.subItems {
    border-bottom: 1px solid #CCC;
}

.subItems .name {
    font-weight: normal;
    font-style: italic;
}

#skillsTableFooter {
    margin-top: 30px;
}

#tableKey {
    font-style: italic;
}

#tableKey i {
    color: #4286f4;
}

#pageNumber {
    color: #4286f4;
    font-weight: bold;
    font-size: 1.5rem;
}

i.pagination {
    color: #4286f4;
    font-weight: bold;
    font-size: 1.3rem;
}

i.pagination.inactive {
    color: grey;
}