<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-10 col-11" id="content">
        <h2 ng-i18next="header"></h2>
        <img src="/assets/images/castorinfo.png" width="200"/>
        <h1 ng-i18next="form_header"></h1>
        <p id="prompt" ng-i18next="form_prompt"></p>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="last_name" ng-model="params.last_name" ng-i18next="[placeholder]last_name" ng-focus="resetError()">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="first_name" ng-model="params.first_name" ng-i18next="[placeholder]first_name" ng-focus="resetError()">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="code" ng-model="params.code" ng-i18next="[placeholder]verification_code" ng-focus="resetError()">
            </div>
            <button id="submitForm" type="submit" class="btn btn-primary" ng-click="getCertificate()">
                <i class="fa fa-check"></i> <span ng-i18next="form_submit"></span>
            </button>
        </form>
        <div class="alert alert-danger not-found" ng-if="error" ng-i18next="form_not_found"></div>
        <p id="discoverText" ng-i18next="form_discover"></p>
        <button id="discoverLink" type="button" class="btn btn-primary">
            <i class="fa fa-desktop"></i> <span ng-i18next="form_platform_link"></span>
        </button>
    </div>
</div>